%div#entries
  - @entries.each do |entry|
    %div.entry
      %h3.title
        %a{:href => "entries/#{entry.id}"}= entry.title
      = entry.body
      %div.player
        %a{:class => "audio", :href => "#{entry.recording_url}.wav" }= "Listen to this blog post"
        %br
      %div.meta
        %ul
          %li
            %a{:href => "entries/#{entry.id}"}= "Read more..."
          %li
            %a{:href => "entries/#{entry.id}#comments"}= "Comments(#{entry.comments.count})"
          
