= partial(:_pagination)
%div#entries
  - @entries.each do |entry|
    %div.entry
      %h3.title
        %a{:href => "/entries/#{entry.id}"}= entry.title
      = entry.body
      %div.player
        %h4= "Listen to this blog post"
      
        %object{:id => entry.id, :data => "/flash/player.swf", :type => "application/x-shockwave-flash", :height => "24", :width => "290" }
          %param{ :name => "movie", :value => "/flash/player.swf" }
          %param{ :name => "FlashVars", :value => "playerID=#{entry.id}&soundFile=#{entry.recording_url}.mp3" }
          %param{ :name => "quality", :value => "high" }
          %param{ :name => "menu", :value => "false" }
          %param{ :name => "wmode", :value => "transparent" }
        
      %div.meta
        %ul
          %li
            %a{:href => "/entries/#{entry.id}"}= "Read more..."
          %li
            %a{:href => "/entries/#{entry.id}#comments"}= "Comments(#{entry.comments.count})"
          
