!!! strict
%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content => "text/html; charset=utf-8" }
    %title= @title
    %meta{:name=>"Author", :content=>"Ang.st"}
    %meta{:name=>"Robots", :content=>"index,all"}
    %meta{:name=>"Keywords", :content=>"Ang.st, voice blogging, twilio"}
    %meta{:name=>"Description", :content=>"Proof of concept Twilio-dirven voice-to-text blogging."}
    
    %link{:rel=>"stylesheet", :href=>"/style.css", :media=>"screen"}
  %body
    %div#wrapper
      %div#header
        %h1
          %a{:href => "/"}= "Bloglio."
        %h2= "Your voice, your blog."
      %div#content
        %h5
          %a{:href => "/callme"}= "Call me"
          = " | "
          %a{:href => "/manage"}= "Manage"
          
        = @flash
        = yield
      %div#footer
        &copy; 2009 ang.st
